.wrapper {width: 360px; margin: 40px auto; padding: 10px 16px 4px; border: 1px solid #CCC; border-radius: 5px;}
.form-wrapper {border-top: 1px solid #CCC; padding: 4px 0; min-height: 50px;}
.form-wrapper div {margin: 4px 0;}
input[type=checkbox] {vertical-align: bottom;}
h1 {font-size: 11pt; padding: 4px 0; margin: 0; font-family: sans-serif;}
label {font-size: 9pt; font-family: sans-serif;}
label + p {color: gray; font-size: 9pt; margin-left: 30px; margin-top: 0; margin-bottom: 5px; font-family: sans-serif; font-style: italic;}
.button-wrapper {border-top: 1px solid #CCC; padding-top: 4px; text-align: right;}
input[type=button] {font-size: 9pt; font-family: sans-serif;}
